.HomeBanner-container {
  width: 100%;
  min-height: 100vh;
  background: url("../../Assets/Home/banner.png");
  /* background-position: center; */
  background-size: cover;
}
.bannerWrapper {
  width: 100%;
  min-height: 100vh;
  /* background-color: #363839f3; */
  background: linear-gradient(to bottom, #36383900, #13171bcc);
  display: flex;
  justify-content: center;
  align-items: center;
}
.textmain {
  background: linear-gradient(30deg, #ff7300, #ffde55);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  /* bottom: 2rem; */
}

.textwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 1rem; */
}
.btnwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .textmain {
    font-size: 3rem;
  }
  .HomeBanner-container {
    background-position: center;
  }
}
